<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Autamation Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Murat Dinc/IdeaProjects/RatingEngineTestAutomation">
        <packages>
            <!--<package name="com.amaxinsurance.tests"></package>-->
            <package name="re.tests"></package>
            <!--<package name="com.budgetandvarianceapp.tests"></package>-->
            <!--<package name="com.ref.amaxinsurance.winback.tests"></package>-->
            <!--<package name="com.audit.amaxinsurance.tests"></package>-->
        </packages>
<!--        <classes>-->
<!--            <class name="re.tests.GetQuoteManuallyTest">-->
<!--                <methods>-->
<!--                    <include name="getQuoteManuallyTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="re.tests.GetQuotePublicDataTest">-->
<!--                <methods>-->
<!--                    <include name="ratingEnginePDTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>
</suite>